<!doctype html>
<html>
	<script type="javascipt">
		alert("Hi Rachel")
	</script>


	<head>
		<title>Evernote Sample | giphy</title>
		<link rel="stylesheet" href="css/foundation.css" />
	</head>
	
	<body>
		<div class="row">
			<img src="{{ giphy_url }}"><br>
		</div>


	</body>

<a href="/"><h1>Random Image</h1></a><br>
tags: {{ giphy_tags }}<br>
<form method='post'>
		<input type="hidden" name="giphy_id" value="{{ giphy_id }}">
		<input type="hidden" name="giphy_tags" value="{{ giphy_tags }}">
		<input type="submit" value="Save to Evernote">
</form>

